body{
font-family:Helvetica;
font-size:larger;
/* background-image:url('../images/emoji.jpg');
background-size:cover;
background-repeat:no-repeat; */
color:white;
}
h3{
color:white;
}
td{
padding:10px;
}
table
{
height:70px;
border-collapse:collapse;
background-color:rgba(0,0,0,0.5);
border-radius:5px;
}
#btn
{
background-color: #353935;
width:100%;
border:10px;
border-radius:7px;
padding:12px 32px;
color:white;
font-size:16px;
cursor:pointer;
}
#btn:hover
{
background:#28282B;
}
input[type=number]
{
padding:8px 0px;
border:1px solid #ccc;
border-radius:4px;
margin:8px;
}
h2{
color:white;
}
p{
color:#28282B;
}
p{
background-color:#f2f2f2;
padding:5px;
border-radius:5px;
}